python-magic==0.4.27
pymupdf==1.26.1
openpyxl==3.1.5
python-docx==1.1.2
sentence-transformers==4.1.0
pillow==11.2.1
pymongo==4.13.1
pytesseract==0.3.13
grpcio==1.73.0
grpcio-tools==1.73.0
faiss-cpu==1.11.0
yara-python==4.5.4
